body {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: Arial;
}

.hidden {
    display: none !important;
}

#main-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0 !important;
}

.logo {
    cursor: pointer;
    display: flex;
    width: 25%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    transition: transform 0.2s ease;
    padding: 5px;
}

.logo:hover {
    transform: scale(1.05);
}

.intro {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 75px;
}

.div1-fnaf {
    background-image: url('./scr/images/fnaf1.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div2-fnaf {
    background-image: url('./scr/images/fnaf2.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div1-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div2-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div3-fnaf {
    background-image: url('./scr/images/fnaf3.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div3-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div4-fnaf {
    background-image: url('./scr/images/fnaf4.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div4-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div5-fnaf {
    background-image: url('./scr/images/fnafsl.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div5-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div6-fnaf {
    background-image: url('./scr/images/fnafps.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div6-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div7-fnaf {
    background-image: url('./scr/images/fnafucn.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div7-fnaf h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: white;
}

.link1-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link1-fnaf-pc:hover {
    transform: scale(1.35);
}

.link2-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link2-fnaf-pc:hover {
    transform: scale(1.35);
}

.link2-fnaf-mobile {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link2-fnaf-mobile:hover {
    transform: scale(1.35);
}

.link3-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link3-fnaf-pc:hover {
    transform: scale(1.35);
}

.link4-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link4-fnaf-pc:hover {
    transform: scale(1.35);
}

.link4-fnaf-mobile {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link4-fnaf-mobile:hover {
    transform: scale(1.35);
}

.link5-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link5-fnaf-pc:hover {
    transform: scale(1.35);
}

.link6-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link6-fnaf-pc:hover {
    transform: scale(1.35);
}

.link7-fnaf-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link7-fnaf-pc:hover {
    transform: scale(1.35);
}

.div1-fnac {
    background-image: url('./scr/images/fnac1.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div2-fnac {
    background-image: url('./scr/images/fnac2.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div1-fnac h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div2-fnac h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.div3-fnac {
    background-image: url('./scr/images/fnac3.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.div3-fnac h2 {
    margin: 0;
    align-self: flex-start;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.link1-fnac-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link1-fnac-pc:hover {
    transform: scale(1.35);
}

.link2-fnac-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link2-fnac-pc:hover {
    transform: scale(1.35);
}

.link3-fnac-pc {
    text-decoration: none;
    text-align: center;
    border: 0px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    align-self: flex-end;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.link3-fnac-pc:hover {
    transform: scale(1.35);
}

.bottom {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 10px;
}